In [1]:
import pandas as pd

In [2]:
data=pd.DataFrame(data={'name':['ricky ponting','mark waugh','damein martin'],'age':[23,27,32],'salary':[1200,1400,1700]})

# Interating over data frame and creating new columns using iterrows function

In [3]:
for index,rows in data.iterrows():
    if rows['salary']>1500:
        data.loc[index,'grade']='Grade 2'
        data.loc[index,'level']='Level 1'
        data.loc[index,'new_salary']=rows['salary']+rows['salary']*0.5
    else:
        data.loc[index,'grade']='Grade 1'
        data.loc[index,'level']='Level 2'
        data.loc[index,'new_salary']=rows['salary']+rows['salary']*0.2

In [4]:
for index,row in data.iterrows():
    data.loc[index,'fn']=row['name'].split()[0]
    data.loc[index,'ln']=row['name'].split()[1]

# Interating over data frame and creating new columns using apply function

In [5]:
def update(data):
    if data['salary']>1500:
        return ['Grade 1','Level 1',data['salary']+data['salary']*0.9]
    else:
        return ['Grade 2','Level 2',data['salary']+data['salary']*0.7]
    

data[['grade','level','new_salary']]=data.apply(update,axis=1,result_type='expand')

In [6]:
def grader(data):
    if data['salary']>1000 and data['age']>30:
        return ['Captain','Grade 333']
    else:
        return ['Vice-captain','Grade 444']

data[['leader2','official2']]=data.apply(grader,axis=1,result_type='expand')

In [7]:
def splitname(data):
    x=data['name'].split()[0]
    y=data['name'].split()[1]
    return[x,y]

data[['First_name','Last_name']]=data.apply(splitname,axis=1,result_type='expand')

In [9]:
#data